.container {
  max-width: 1080px;
  
}

/*
 * Custom translucent site header
 */
/*css from bootstrap*/
.site-header {
  background-color: rgba(0, 0, 0, .85);
  marginï¼left: -15px;
  margin-right: -15px;
  /*-webkit-backdrop-filter: saturate(180%) blur(20px); */
  /*backdrop-filter: saturate(180%) blur(20px);*/
  
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */


#icon{
  padding: 0px;
  margin: 0px;
  
}
.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  /*-webkit-transform: rotate(30deg);*/
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  /*-ms-flex: 1;*/
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    /*-ms-flex: 1;*/
    flex: 1;
  }
}


.overflow-hidden { overflow: hidden; }

/*homepage and consistency*/
.black{
  background-color: rgba(0,0,0, 0.85);
  margin-left: 50px;
  margin-right: 50px;
}

/*navigation bar*/
#navigationbar:hover{
  color: #5a6571;
  display: block;
  
}

#navigationbar{
  font-family: 'ZCOOL QingKe HuangYou', Verdana, sans-serif;
  font-size: 25px;
  padding-top: 0px;
  padding-bottom: 20px;
}

.logohead {
  height: 90px;
  width: 350px;
  margin-top: 10px;
  margin-left: 0px;
}

#homelogo{
  display: block;
  margin: auto;
  margin-top: 10px;
}

/*bodypart1*/

.title{
  background-image: url(images/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

body{
  background-color: black;
}

.wh{
  background-color: rgb(255,255,255, .28)
}
.pan{
  color: black;
  font-weight: bold;
  font-family: 'ZCOOL QingKe HuangYou', Verdana, sans-serif;
  font-size: 85px;

}

@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');

.intro{
  color: #1c1e21;
  font-family: 'ZCOOL QingKe HuangYou', Verdana, sans-serif;
  font-size: 30px;
}
.introdetail{
  color: #1c1e21;
  font-family: 'ZCOOL QingKe HuangYou', Verdana, sans-serif;
  font-size: 20px;
}
/*
.navi{
  font-family: 'ZCOOL QingKe HuangYou', Verdana, sans-serif;
  font-size: 27px;
}

.navi:hover{
  color: #1c1e21;
}
*/
/*bodypart2*/
.ex1{
  background-image: url(images/7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ex2{
  background-image: url(images/11.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ex3{
  background-image: url(images/10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ex1:hover{
  background-color: white;
  opacity: 0.5;
} 

.ex2:hover{
  background-color: white;
  opacity: 0.5;
}

.ex3:hover{
  background-color: white;
  opacity: 0.5;
}

.lead{
  font-family: 'ZCOOL QingKe HuangYou', Verdana, sans-serif;
  font-size: 25px;
}

.display-5{
  font-family: 'ZCOOL QingKe HuangYou', Verdana, sans-serif;
  font-size: 55px;
  font-weight: bold;
}

/*link*/

a:link{
  text-decoration: none;
  color: white;
}


a:visited{
  text-decoration: none;
  color: white;
}

#vm{
  color: #1c1e21;
}

#sub2{
  color: #1c1e21;
}

/*creditfooter*/

.fo{
  font-family: 'ZCOOL QingKe HuangYou', Verdana, sans-serif;
  font-size: 100px;
  margin-top: 10px;
  margin-left: -10px;
}
.fo:hover{
  text-decoration: underline;
}

#foo {
  margin-right: 500px;
  color: #5a6571;
  padding-left: 10px;
}


#foi{
  border: 0px;
  padding: 0px;
}

.storytit{
  margin: auto auto;
  font-family: 'ZCOOL QingKe HuangYou', Verdana, sans-serif;
  font-size: 60px;
  color: white;
  font-weight: bold;
  padding-top: 20px;
}

.storyintro{
  margin: auto 50px;
  font-family: 'ZCOOL QingKe HuangYou', Verdana, sans-serif;
  font-size: 25px;
  color: #5a6571;
  
}

/*coalpage*/

body.coalbody{
  background-image: url(images/7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  
  }
.content{
  background-color: rgb(0,0,0, .85);
  width: 1200px;
  margin: 0 auto;
  
}
/*video*/
.coalv{
  width: 1000px;
  height: 600px;
  margin: auto auto;
}

.embed-responsive{
  padding-left: 50px;
  padding-right: 50px;
}

/*Q&A*/

.qaheader{
  margin: 0 auto;
  font-family: 'ZCOOL QingKe HuangYou', Verdana, sans-serif;
  font-size: 100px;
  color: white;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
 margin-top: 50px; 
}

.qaf{
  font-family: 'ZCOOL QingKe HuangYou', Verdana, sans-serif;
  font-size: 20px;
  color: #5a6571;
  text-align: left;
  padding-left: 100px;
  padding-right: 50px;
  /*text-indent: 20px;*/
  letter-spacing: 0.03em;
}

.qa{
  /*display: block;*/
  text-align: left;
  /*padding-left: 25px;*/
 
}
/*
.answer{
  font-family: 'ZCOOL QingKe HuangYou', Verdana, sans-serif;
  font-size: 20px;
  color: #5a6571;
  text-align: left;
  padding-left: 100px;
  padding-right: 50px;
  /*text-indent: 20px;
  
}

.question{
  margin: 0 auto;
  font-family: 'ZCOOL QingKe HuangYou', Verdana, sans-serif;
  font-size: 30px;
  color: white;
  display: block;
  text-align: center;
  padding-left: 100px;
  padding-right: 50px;
} */

.linkqa:hover {
 /* color: #1c1e21; */
  text-decoration: underline;
}
.accordion {
  background-color: Transparent;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-family: 'ZCOOL QingKe HuangYou', Verdana, sans-serif;
  font-size: 25px;
  padding-left: 100px;
  padding-right: 50px;
}

.active, .accordion:hover {
 /* background-color: #5a6571;*/
  text-decoration: underline;
  color: #1c1e21;
  border: none;
  outline: none;
}
.active, .accordion:visited{
  border: none;
  outline: none;
}
.panel {
  padding: 0 18px;
  /*background-color: white;*/
  display: none;
  overflow: hidden;
  font-family: 'ZCOOL QingKe HuangYou', Verdana, sans-serif;
  font-size: 20px;
  color: #5a6571;
  padding-left: 100px;
  padding-right: 50px;
  letter-spacing: 0.03em;
}
/*
.accordion {
  background-color: #1c1e21; 
  color: white;
  cursor: pointer;
  padding: 15px;
  width: 1000px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-family: 'ZCOOL QingKe HuangYou', Verdana, sans-serif;
  font-size: 25px;
  
  display: inline-block;
  
}

.active, .accordion:hover {
  background-color: #5a6571;
}

.panel {
  padding: 0 0px;
  font-family: 'ZCOOL QingKe HuangYou', Verdana, sans-serif;
  font-size: 20px;
  display: none;
  overflow: hidden;
  color: #5a6571;
  text-align: left;
  padding-left: 100px;
  padding-right: 50px;
  /*text-indent: 20px;*/


.coal{
  margin: auto auto;
  padding: 0px 50px 0px 50px;
}

/*windpage*/

body.windbody{
  background-image: url(images/11.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  
  }
  /*creditpage*/
  body.creditbody{
  background-image: url(images/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  
  }
  
  
  .creditsub{
    margin: 0 auto;
    padding:  0px 50px 0px 50x;
    text-align: center;
    color: white;
    font-family: 'ZCOOL QingKe HuangYou', Verdana, sans-serif;
    font-weight: 200;
    /*word-spacing: 0.1em;*/
    letter-spacing: 0.03em;
   
  }
  
  /*electricitypage*/
  body.electricitybody{
  background-image: url(images/10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  
  }
/*grid*/
.gridtit{
  margin: auto auto;
  font-family: 'ZCOOL QingKe HuangYou', Verdana, sans-serif;
  font-size: 100px;
  color: white;
  font-weight: bold;
  padding: 0px 0px 0px 0px;
  display: block;
  margin-top: 60px;
}

.gridau{
  margin: auto auto;
  font-family: 'ZCOOL QingKe HuangYou', Verdana, sans-serif;
  font-size: 20px;
  color: #5a6571;
  font-weight: normal;
  padding: 0px 0px 0px 0px;
  display: block;
}

.scroll{
  overflow: auto;
  color: #5a6571;
  font-family: 'ZCOOL QingKe HuangYou', Verdana, sans-serif;
  font-size: 20px;
  text-align: left;
  display: block;
  width: 500px;
  height: 480px;
  overflow: scroll;
  padding-left: 98px;
  padding-top: 10px;
  text-indent: 20px;
}

.gridpic{
  width: 100%;
  height: auto;
  display: block;
  padding-left: 115px;
  padding-top: 10px;
  
  
}

.gridcut{
  text-indent: 5px;
  text-align: center;
}

.scrollqa{
  overflow: auto;
  display: block;
  width: 600px;
  height: 600px;
  margin-top: 80px;
}


